In [112]:
#importing the first sql libary for py withoout math functionality; but credentials adoptions 
import ibm_db

In [113]:
#The database credentials to teh db2 warehouse to access the tables.
#These credentials are only for an instance in the cloud account, that allows one instance per session

dsn_driver = "IBM DB2 ODBC DRIVER"
dsn_database = "BLUDB"

dsn_hostname = "dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net"
dsn_port = "50000"
dsn_protocol = "TCPIP"   

dsn_uid = "bfp69501"
dsn_pwd= "xr2wcxn5tzkdt@lp"

In [114]:
dsn = (
    "DRIVER = {0};"
    "DATABASE = {1};"
    "HOSTNAME = {2};"
    "PORT= {3};"
    "PROTOCOL= {4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

In [115]:
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Unable to connect:  [IBM][CLI Driver] SQL0438N  Application raised error or warning with diagnostic text: "Exceeded maximum limit of 5 connections. Connection refused".  SQLSTATE=42502 SQLCODE=-438

In [151]:
#NB this API may take a while before it connects an instance to the IBM DB2 free services
#Please run the code multiple times, if you are prompted for with a warning for expired credentials do not hesitate to contact me

In [117]:
#Retrieve Metadata for the Database Server
server = ibm_db.server_info(conn)

print ("DBMS_NAME: ", server.DBMS_NAME)
print ("DBMS_VER:  ", server.DBMS_VER)
print ("DB_NAME:   ", server.DB_NAME)

#Retrieve Metadata for the Database Client / Driver
client = ibm_db.client_info(conn)
print(client)

DBMS_NAME:  DB2/LINUXX8664
DBMS_VER:   11.01.0404
DB_NAME:    BLUDB
<ibm_db.IBM_DBClientInfo object at 0x7feff0894cb0>

In [118]:
#import libraries for math and plots; establish a different ibm API to retrieve and show data contained
import pandas
import numpy
import scipy 
from scipy import stats
import ibm_db_dbi
import matplotlib 
%matplotlib inline

In [119]:
#The code below will now show the data that we are working with; that is stored and structured in tables in DB2

#connection for pandas
pconn = ibm_db_dbi.Connection(conn)
instance1= "select * from CPI" 
instance2 = "select * from ECOINDI"
instance3 = "select * from CRISIS" 
show1 = pandas.read_sql(instance1, pconn)   #this data is now in pandas dataframe 
show2 = pandas.read_sql(instance2, pconn)
show3 = pandas.read_sql(instance3, pconn)

In [120]:

print("Consumer Price Index") 
CPI = show1.drop(["Consumer_Price_Index___February_2019_100_", "Column_2", "Column_3", "Column_4", "Column_5", "Column_6","Column_7", "Column_8", "Column_9", "Column_10", "Column_11", "Column_12", "Column_13"], axis = 1)
CPI.columns=['CPI_mt', 'Prd_All_Items' , 'Inflation_Rate_Percent_Monthly', 'Inflation_Rate_Percent_Annual']
CPi= CPI.replace('None', '').astype(str)
CPi.head(5)

Consumer Price Index

,CPI_mt,Prd_All_Items,Inflation_Rate_Percent_Monthly,Inflation_Rate_Percent_Annual
0,None,None,None,None
1,None,All Items,Inflation Rate (%) Monthly,Inflation Rate (%) Annual
2,None,100,None,None
3,None,None,None,None
4,2009,"56,2",None,None

In [157]:

print("Macro-economic Indicators")
show2= show2.replace('None', '').astype(str)
show2.columns=['Indicator', '2009' , '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']
show2.head(8)

Macro-economic Indicators

,Indicator,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,,,,,,,,,,,
1,,,,,,,,,,,
2,,,,,,,,,,,
3,,,,,,,,,,,
4,,,,,,,,,,,
5,REAL SECTOR,,,,,,,,,,
6,Real GDP at 2012 Market prices (US$' m),10 735,12 847,"14 670,00","17 114,80","17 455,30","17 870,20","18 188,30","18 325,80","19 187,80",
7,Nominal GDP at Market (US$'m up to 2016),9 666,12 042,"14 101,80","17 114,80","19 091,00","19 495,50","19 963,10","20 548,70","22 813,00",

In [153]:
#Do not drop all countries before comparison we might nedd the data 
#juy = range(969)
#show4= show3.drop(index=juy, axis= 0)

print("Global economic crisis")
show4 = show3.drop(["inflation_crises", "case", "banking_crisis", "currency_crises", "domestic_debt_in_default", "sovereign_external_debt_default", "gdp_weighted_default","independence"], axis = 1)
show4= show4.replace('None', '').astype(str)
show4.head(5)
#refined global economic crisis data

Global economic crisis

   cc3  country  year systemic_crisis  exch_usd inflation_annual_cpi
0  DZA  Algeria  1870               1  0.052264          3.441455696
1  DZA  Algeria  1871               0  0.052798          14.14913958
2  DZA  Algeria  1872               0  0.052274         -3.718592965
3  DZA  Algeria  1873               0   0.05168          11.20389701
4  DZA  Algeria  1874               0  0.051308         -3.848560701

In [144]:
CPi.dtypes

CPI_mt                            object
Prd_All_Items                     object
Inflation_Rate_Percent_Monthly    object
Inflation_Rate_Percent_Annual     object
dtype: object

In [124]:

 show2.dtypes

Indicator    object
2009         object
2010         object
2011         object
2012         object
2013         object
2014         object
2015         object
2016         object
2017         object
2018         object
dtype: object

In [125]:

show4.dtypes

cc3                     object
country                 object
year                    object
systemic_crisis         object
exch_usd                object
inflation_annual_cpi    object
dtype: object

In [126]:
#modification of the cpi and defination of attributes

df_CPi = cpi.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

df_CPi = df_cpi.replace("None", "").astype(str)

df_CPi['CPI_mt'] = pandas.to_numeric(df_cpi['CPI_mt'], errors='coerce')

df_CPi['Prd_All_Items'] = pandas.to_numeric(df_cpi['Prd_All_Items'], errors='coerce')

df_CPi['Inflation_Rate_Percent_Monthly'] = pandas.to_numeric(df_cpi['Inflation_Rate_Percent_Monthly'], errors='coerce')

df_CPi['Inflation_Rate_Percent_Annual'] = pandas.to_numeric(df_cpi['Inflation_Rate_Percent_Annual'], errors= 'coerce')

df_CPi.dtypes

CPI_mt                            float64
Prd_All_Items                     float64
Inflation_Rate_Percent_Monthly    float64
Inflation_Rate_Percent_Annual     float64
dtype: object

In [149]:
# modification of crisis modification of attributes 
#let all pythin programmers take time to acknowledge the programmer who invented the pandas module i been stressing the whole day!!!!

show4['exch_usd'] = pandas.to_numeric(show4['exch_usd'], errors='coerce')

show4['inflation_annual_cpi'] = pandas.to_numeric(show4['inflation_annual_cpi'], errors='coerce')

show4['year'] = pandas.to_datetime(show4['year'], errors='coerce')


show4.dtypes

cc3                             object
country                         object
year                    datetime64[ns]
systemic_crisis                 object
exch_usd                       float64
inflation_annual_cpi           float64
dtype: object

In [133]:
#essentials establieshed on Consumer Price Index Data and global crisi data  Now its time for some real Maths :)

#Import magic sql environment to view tables for plots

!pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/conda/envs/Python36/lib/python3.6/site-packages (0.3.9)
Requirement already satisfied: sqlparse in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython-sql) (0.3.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython-sql) (1.2.18)
Requirement already satisfied: six in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython-sql) (1.12.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython-sql) (7.2.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (2.0.8)
Requirement already satisfied: pickleshare in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.10 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.13.2)
Requirement already satisfied: pexpect; sys_platform != "win32" in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (4.6.0)
Requirement already satisfied: decorator in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (4.3.2)
Requirement already satisfied: pygments in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (2.3.1)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (4.3.2)
Requirement already satisfied: backcall in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (40.8.0)
Requirement already satisfied: wcwidth in /opt/conda/envs/Python36/lib/python3.6/site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.7)
Requirement already satisfied: parso>=0.3.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.3.2)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)

In [134]:
%load_ext sql

%sql ibm_db_sa://bfp69501:xr2wcxn5tzkdt%40lp@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB


try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to Tinashe's Db2: ", dsn_database, "As user: ", dsn_uid, "on Host: ", dsn_hostname)

except:
    print ("Unable to connect, Logon Instance can not exceed 5! Try Again a bit later/ Read Error and contact Tinashe for Help :)", ibm_db.conn_errormsg() )

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
Unable to connect, Logon Instance can not exceed 5! Try Again a bit later/ Read Error and contact Tinashe for Help :) [IBM][CLI Driver] SQL0438N  Application raised error or warning with diagnostic text: "Exceeded maximum limit of 5 connections. Connection refused".  SQLSTATE=42502 SQLCODE=-438

In [143]:

gk= %sql  SELECT * FROM ECOINDI
gk
#this SQL code will hold the dataframe in a scaled tabular view to show other indicators that were in the dataset grouped per industrial sector

 * ibm_db_sa://bfp69501:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(None, None, None, None, None, None, None, None, None, None, None),
 (None, None, None, None, None, None, None, None, None, None, None),
 (None, None, None, None, None, None, None, None, None, None, None),
 (None, None, None, None, None, None, None, None, None, None, None),
 (None, None, None, None, None, None, None, None, None, None, None),
 ('REAL SECTOR', None, None, None, None, None, None, None, None, None, None),
 ("Real GDP at 2012 Market prices (US$' m)", '10 735', '12 847', '14 670,00', '17 114,80', '17 455,30', '17 870,20', '18 188,30', '18 325,80', '19 187,80', None),
 ("Nominal GDP at Market  (US$'m up to 2016)", '9 666', '12 042', '14 101,80', '17 114,80', '19 091,00', '19 495,50', '19 963,10', '20 548,70', '22 813,00', None),
 ('GDP at Market Prices % changes', '5,4', '19,7', '14,2', '16,7', '2', '2,4', '1,8', '0,8', '4,7', None),
 ('GDP per capita', '790,3', '976,1', '1 131,80', '1 310,40', '1 428,00', '1 428,00', '1 431,70', '1 440,80', '1 510,80', None),
 (None, None, None, None, None, None, None, None, None, None, None),
 ('Selected Sectoral GDP growth rates %', None, None, None, None, None, None, None, None, None, None),
 ('Agriculture and forestry', None, '7,2', '1,4', '7,8', '-2,6', '23', '-5,2', '-3,9', '10', None),
 ('Mining and quarrying', None, '41,4', '24,4', '8', '11,7', '-3,4', '0,4', '4,1', '3,5', None),
 ('Manufacturing', None, '73,2', '13,8', '5,3', '-0,6', '-5,1', '0,2', '0,6', '1,3', None),
 ('Electricity and water', None, '19,5', '6,4', '0,3', '5', '5,4', '-5,7', '-1,6', '4', None),
 ('Construction', None, '-13,3', '65,1', '23,5', '3,9', '6,9', '4', '1,5', '3,9', None),
 ('Distribution, Hotels and restaurants', None, '10,3', '4,3', '4,3', '3,9', '2,5', '3,8', '6,8', '7,6', None),
 ('Financial, banking and insurance activities', None, '-25,9', '-4,1', '78,1', '-4,3', '-15,1', '5,5', '4,7', '3,1', None),
 (None, None, None, None, None, None, None, None, None, None, None),
 (None, None, None, None, None, None, None, None, None, None, None),
 (None, None, None, None, None, None, None, None, None, None, None),
 (None, None, None, None, None, None, None, None, None, None, None),
 (None, None, None, None, None, None, None, None, None, None, None),
 (None, None, None, None, None, None, None, None, None, None, None),
 ('EXTERNAL SECTOR', None, None, None, None, None, None, None, None, None, None),
 (None, None, None, None, None, None, None, None, None, None, None),
 ('Export growth  (%)', '-0,90%', '107,10%', '40,40%', '-11,80%', '-4,00%', '-3,50%', '-2,90%', '2,40%', '18,00%', '11,70%'),
 ('Import growth (%)', '22,20%', '87,80%', '46,70%', '-11,30%', '1,40%', '-7,00%', '-4,10%', '-13,70%', '5,80%', '28,50%'),
 ('Trade Balance (US$M)', '-3957,6', '-2619,2', '-5038,2', '-3581,2', '-4196,9', '-3316', '-3298,5', '-2379,1', '-1738,2', '-2372,9'),
 ('Current a/c balance (US$M)', '-615', '-1576,1', '-2570,4', '-1973,7', '-2669,9', '-2405,1', '-1678,4', '-717,9', '-286,2', '-1029'),
 ('Current a/c balance (% of GDP)', '-6,40%', '-13,10%', '-18,20%', '-11,50%', '-14,00%', '-12,30%', '-8,40%', '-3,50%', '-1,30%', '-3,30%'),
 ('Exchange rate (end period  Rand/US$)', None, None, '7150', '7150', None, None, None, None, 'esimate for 2015', 'esimate for 2015'),
 ('Exchange rate (period average Rand/US$)', None, None, '6', '6', None, None, None, None, 'esimate for 2016', 'esimate for 2016'),
 ('Real Eff Exchange Rate  (1995 = 100)', None, None, '5560,9', '5560,8619', None, None, None, None, 'esimate for 2017', 'esimate for 2017'),
 ('Capital a/c balance (US$M)', '391', '231', '345,6', '737,5', '251', '369', '398', '242', '278', '209'),
 ('Financial a/c balance (US$M)', '-1026,1', '-604,5', '-722,5', '-1075,1', '-1474,6', '-1 758', '-1 366', '-898', '-747', '-1 017'),
 ('Direct Investment (net) (US$M)', '-105', '-122,6', '-344,3', '-349,9', '-373,1', '-472,8', '-399,2', '-343', '-306,3', '-457,3'),
 ('Portfolio Investment (net) (US$M)', '-67', '-63,09', '-10', '-99,2', '-114,2', '-130,3', '-122,8', '80,1', '100,9', '-87,3'),
 ('Total External Debt (US$M)', '5 687', '7 050', '7 509', '7 623', '9 059', '11 086', '10794,5', '11544,19', '12303,44', '12424,18'),
 ('Gross Offical Reserves (US$M) - at 100%', '460,1', '477,3', '407,3', '432,1', '331,4', '349,4', '433,9', '421,3', '296', '302,5'),
 ('Import cover (months) at 100%', '2', '1,1', '0,7', '0,8', '0,6', '0,7', '0,9', '1', '0,7', '0,5'),
 ('Total External Payments Arrears (US$M)', '3 725', '3 925', '4 234', '4 501', '4 749', '5 261', '4 958', '5 036', '5 393', '5 555'),
 ('MONETARY SECTOR*', None, None, None, None, None, None, None, None, None, None),
 (None, None, None, None, None, None, None, None, None, None, None),
 (None, None, None, None, None, None, None, None, None, None, None),
 (None, None, None, None, None, None, None, None, None, None, None),
 (None, None, None, None, None, None, None, None, None, None, None),
 (None, None, None, None, None, None, None, None, None, None, None),
 ("Securities other than shares included in broad money (US$ '000)", '516,3', '55 848,20', '57 954,20', '55 931,00', '82 609,90', None, '44 656,60', '62 894,40', '68 638,50', '58 584,00'),
 ("Bond notes and  Coins (US$'000)", None, None, None, None, None, '298,6', '7 127,00', '70 170,80', None, None),
 ("Domestic Credit (US$ '000)", None, '1 596 103', '2 798 127', '3 788 469', '4 068 698', '4 378 654', '5 535 396', '8 451 438', None, None),
 ("Credit to Private Sector  (US$ '000)", None, '1 682 515', '2 755 037', '3 560 693', '3 650 055', '3 796 267', '3 830 132', '3 495 107', '3 719 426', '4 058 651'),
 ("Credit to Parastatals (US$ '000)", '25 498,00', '22 908', '44 924', '51 717', '60 645', '66 750', '140 910', '356 235', '591 301', '737 587'),
 ("Credit to Government ( net )(US$ '000)", '-1859,75', '-109319,21', '-1834,85', '176 058', '60 645', '515 636', '1 564 355', '4 466 829', '6 277 468', '9 992 337'),
 (None, None, None, None, None, None, None, None, None, None, None),
 ('91-day  Treasury Bill Rate', 'N/Q', 'N/Q', 'N/Q', 'N/Q', 'N/Q', None, None, None, None, None),
 ('365-day  treasury bill rate', 'N/Q', 'N/Q', 'N/Q', 'N/Q', None, None, None, None, None, None),
 ('Overnight Rate (%)', 'N/Q', 'N/Q', 'N/Q', 'N/Q', 'N/Q', None, None, None, None, None),
 ('Nominal Minimum Lending Rate (%)', None, '1,2', '1,3', '8', '6', '6', '6', '4', '4,5', '4'),
 ('Nominal Maximum Lending Rate (%)', None, '25', '58', '30', '35', '35', '16', '18', '18', '18'),
 ('Individual Average Weighted Lending Rate (%)', None, None, None, None, '14,03', '14,4', '12', '10,1', '9,4', '9,5'),
 ('Coporate Average Weighted Lending Rate (%)', None, None, None, None, '9,35', '9,9', '7,6', '6,5', '7', '7,4'),
 ('STOCK MARKET INDICES', None, None, None, None, None, None, None, None, None, None),
 ('Industrial Index (Points)', '152', '151,3', '146', '152,4', '202', '174,1', '114,9', '134,8', '333', '488,2'),
 ('Mining Index (Points)', '185,5', '200,4', '101', '65,1', '46', '63,9', '23,7', '60,9', '142,4', '216,8'),
 ('Grand Market Capitalisation (US$m)', '3 310,60', '3 868,10', '3 689,70', '3 964', '5 203', '4 585,50', '3 073,40', '3 763,90', '9 580,60', '19 454,10'),
 ('PUBLIC FINANCES', None, None, None, None, None, None, None, None, None, None),
 (None, None, None, None, None, None, None, None, None, None, None),
 ('Government Accounts (US$ m)*', None, None, None, None, None, None, None, None, None, None),
 ('Revenue excluding grants', '933,65', '2339,06', '2 922,50', '3 495,80', '3 741,00', '3 727,20', '3 737,10', '3 502,20', '3 950,20', '5 296,80'),
 ('Revenue including grants', '933,65', '2339,06', '2 922,50', '3 495,80', '3 741,00', '3 727,20', '3 737,10', '3 502,20', '4 375,90', '5 296,80'),
 ('Capital expenditure and net lending', '45,2', '415,19', '446,3', '302', '386', '310,3', '252', '387,2', '1 530,00', '3 087,90'),
 ('Recurrent Expenditure', '744,95', '1500,19', '2 278,80', '2 983,40', '3 206,30', '3 387,90', '3 348,00', '3 807,80', '4 515,00', '5 195,00'),
 ('Total expenditure and net lending', '920,9', '2177,68', '3 051,30', '3 587,90', '3 981,30', '3 916,60', '3 923,60', '4 705,50', '6 045,00', '8 161,40'),
 ('Balance excluding grants', '13', '161', '-128,9', '-92,1', '-240,3', '-189,4', '-186,5', '-1 203,30', '-2 094,80', '-2 864,60'),
 ('Balance including  grants', '13', '161', '-128,9', '-92,1', '-240,3', '-189,4', '-186,5', '-1 203,30', '-1 669,10', '-2 864,60'),
 (None, None, None, None, None, None, None, None, None, None, None),
 ('(% of  GDP)', None, None, None, None, None, None, None, None, None, None),
 ('Revenue excluding grants', '15', '28,2', '20,7', '20,4', '19,6', '19,1', '18,7', '17', '17,3', '17,1'),
 ('Revenue including grants', '15,8', '28,2', '20,7', '20,4', '19,6', '19,1', '18,7', '17', '19,2', '17,1'),
 ('Capital expenditure and net lending', '0,8', '5', '3,2', '1,8', '2', '1,6', '1,3', '1,9', '6,7', '10'),
 ('Recurrent Expenditure', '7,7', '12,5', '16,2', '17,4', '16,8', '17,4', '16,8', '18,5', '19,8', '16,8'),
 ('Total expenditure and net lending', '5,4', '12,7', '17,8', '21', '20,9', '20,1', '19,7', '22,9', '26,5', '26,3'),
 ('Deficit excluding grants', '0,1', '0,9', '-0,8', '-0,5', '-1,3', '-1', '-0,9', '-5,9', '-9,2', '-9,2'),
 ('Deficit including  grants', '0,2', '2,8', '-0,9', '-0,5', '-1,3', '-1', '-0,9', '-5,9', '-7,3', '-9,2'),
 ('EXCHANGE RATE', None, None, None, None, None, None, None, None, None, None),
 ('POPULATION (millions)', '12,2', '12,3', '12,5', '13,1', '13,4', '13,7', '13,9', '14,3', '14,6', '14,9'),
 ('Rand/US$', None, None, None, None, None, '11,46', '14.17*', '16*', '16*', None),
 ('British Pound/US$', None, None, None, None, None, None, '1.51**', '1.62**', '1.62**', None),
 ('Euro/US$', None, None, None, None, None, None, '1.07**', '1.1**', '1.1**', None)]

In [158]:
#LIST OF USEFUL INDICATORS FOR ANALYSIS 
Indicators=['GDP per capita', 'Export growth (%)', 'Import growth (%)', 'Trade Balance (US$M)', 'POPULATION (millions)']

ecoIndi= pandas.DataFrame(show2, columns = ['Indicator', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018'], index=[9, 27, 28, 87])
ecoIndi

#Nice:)

,Indicator,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
9,GDP per capita,"790,3","976,1","1 131,80","1 310,40","1 428,00","1 428,00","1 431,70","1 440,80","1 510,80",
27,Export growth (%),"-0,90%","107,10%","40,40%","-11,80%","-4,00%","-3,50%","-2,90%","2,40%","18,00%","11,70%"
28,Import growth (%),"22,20%","87,80%","46,70%","-11,30%","1,40%","-7,00%","-4,10%","-13,70%","5,80%","28,50%"
87,POPULATION (millions),"12,2","12,3","12,5","13,1","13,4","13,7","13,9","14,3","14,6","14,9"

In [159]:
#remember now we are working with 
#ecoIndi show4 as crisis CPi as CPi

ecoIndi.describe()

,Indicator,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
count,4,4,4,4,4,4,4,4,4,4,4
unique,4,4,4,4,4,4,4,4,4,4,4
top,Export growth (%),"-0,90%","12,3","12,5","-11,30%","1,40%","-7,00%","-4,10%","14,3","1 510,80","14,9"
freq,1,1,1,1,1,1,1,1,1,1,1

In [160]:
CPi.describe()  #not useful

,CPI_mt,Prd_All_Items,Inflation_Rate_Percent_Monthly,Inflation_Rate_Percent_Annual
count,152,152,152,152
unique,25,66,35,74
top,None,None,None,None
freq,16,14,26,28

In [161]:
#to be honest Zimbabwe needs more data assets this is useless 
show4.describe() #not useful

         cc3 country  year systemic_crisis exch_usd inflation_annual_cpi
count   1059    1059  1059            1059     1059                 1059
unique    13      13   155               2      773                 1022
top      EGY   Egypt  1996               0        0                  0.0
freq     155     155    13             977       53                   17

In [162]:

#income_vs_hardship = %sql SELECT FROM ECOINDI;


#plot = sns.jointplot(x='per_capita_income_',y='hardship_index', data=income_vs_hardship.DataFrame())



#Pending developments on this Notebook through GitHub
#WebScrapping In Progress for improvements on Dataset used in this project
#Used data was Free from Kuggle/ RBZ (already Refined)/ 


ibm_db.close(conn)

True